.feynman__subtitle {
  max-width: 775px;
  padding-top: 70px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
