.page {
  --white-bg-color: #fff;
  --dark-grey-bg-color: #1f1f1f;
  --light-grey-bg-color: #f2f2f2;
  --blue-color: #2f80ed;
  --black-color: #000;

  min-width: 1100px;
  /* we are not making mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 0;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: var(--light-grey-bg-color);
  /* parameters for the header section */
}
.header__title {
  max-width: 730px;
  display: flex;
  align-items: center;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 3;
}

.header__subtitle_block {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}
.header__subtitle_text {
  height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.link {
  text-decoration: none;
  color: var(--blue-color);
  transition: 300ms ease-in-out;
}

.link:hover {
  opacity: 0.5;
}

.header__image {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
/* Need add rotation */

.header_square{
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}
